/*.form-design {
    color: white !important;
    background-color: black !important;
    height: 75px;
}*/
.proposal{
    margin-top:0 !important ;
}
.adjust-navbar {
    margin-top: 10px !important;
    font-size: 12px !important;
}

.banner-page {
    height: 100%;
    width: auto;
    padding-top: 0px;
}

.align-center {
    text-align: center !important;
}

/*Paper clip*/
i {
    margin: 0 8px;
}

.filename-container {
    margin: 20px 20px 0 0;
}

.paper-clip {
    top: 70px;
    right: 70px;
    /*
    margin-left: 182px;
    */
    float: right;
    font-size: 23px;
    position: absolute;
    color: #a79e9e;
}

.filename {
    display: inline-block;
    padding: 0 10px;
    margin-right: 10px;
    background-color: #ccc;
    border: 1px solid black;
    border-radius: 15px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-weight: 700;
    font-size: 12px;
    font-family: 'verdana', sans-serif;
}

.hide {
    visibility: hidden;
}

/*Paper-clip*/

.form-wrapper input[type=text], .form-wrapper input[type=email], .form-wrapper input[type=file], .form-wrapper textarea {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #f7f7f7;
    border: 1px solid #EEE;
}

.form-wrapper textarea {
    width: 100%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #f7f7f7;
    border: 1px solid #EEE;
}

.form-wrapper select {
    width: 100%;
    border: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #f7f7f7;
    border: 1px solid #EEE;
    padding: 10px 15px;
}

.form-group select {
    font-family: raleway;
    background: white !important;
    padding: 20px !important;
    color: #ccc !important;
}

.verticalLine {
    top: 45px !important;
    font-size: 42px !important;
    right: 100px !important;
    position: absolute !important;
    color: #e3dcdc !important;
}

.wrapper {
    width: 100%;
    min-width: 100vw;
    background-color: lightcyan;
    position: relative;
}

.banner-img {
    background-size: cover;
    width: 100%;
    display: block;
}
.banner-img-mobile{
    display: none;
}

.banner-overlay{
    position: absolute;
    left:0;
    top:35px!important;
    text-align: center;
    width: 100%;
    padding-top: 10%;

}
#text-adjust, #sub-heading {
    position: relative;
    color: white;
    font-weight: bold;
    font-size: 3.5em;
    text-align: center !important;
    letter-spacing: 0.1em;
}

#sub-heading {
    font-weight: unset;
    font-size: 2em;
    margin: 0 !important;
}

.aboutTo-adjust {
    position: relative !important;
    background: #ffffff;
    padding: 45px;
    padding-top: 0px;
}

.adjust-proposal {
    position: relative;
    padding: 0px;
}

.proposal {
    background: #e9e7e7 !important;
    padding-bottom: 50px;
}

hr {
    width: 8% !important;
    border: solid 1px #00A4FF !important;
    margin-top: 18px !important;
    margin-bottom: 25px !important;
}

.navbar.navbar-default .navbar-nav > .active > a {
    background: none !important;
}

.fa-design {
    color: #00A4FF !important;
    margin-left: 13%;
}

.date-set {
    font-weight: bold;
    padding: 5px 10px;
    font-size: 18px;
    color:#666;
}

.proposal-description-container {
    padding: 5px;
}

.proposal-description-container p {
    font-size: 16px
}

.time-set {
    font-weight: bold;
    color: #00A4FF;
}

.time-middle-container {
    width: 100%;
    border-right: thin solid #8c8c8c;
    border-left: thin solid #8c8c8c;
}

.padding-session-left {
    padding-left: 80px;
}

.padding-session-right {
    padding-right: 80px;
}

.color-black {
    background: black !important
}

.color-white {
    color: #ffffff !important;
    font-size: 2.5em;
    font-weight: bold;
}

.aligned-submit {
    position: relative;
}

.form-background {
    background: #ffffff;
    padding-top: 40px;
    padding-bottom: 40px;
}

.awaiting-content {
    font-size: 1.5em !important;
}

.awaiting-contentNew {
    width: 80%;
    font-size: 1.5em !important;
    position: relative;
    text-align: center;
    margin: 0 auto;
}

.sponsor-section {
    bottom: 189px;
    position: relative;
}

.session-proposal {
    padding-top: 40px;
}

.session-padding {
    padding-top: 20px;
}

.arrow-new {
    color: #363738;
    font-size: 2.5em;
    font-weight: 700;
}

.arrow-new1 {
    color: #363738;
    font-size: 2.5em;
    font-weight: 700;
    padding-top: 8px;
}
.showme-desktop{
    display: block;
}
.showme-mobile{
    display: none;
}

/* Career Form */

.career-form-container {
    padding: 40px;
    position: relative;
    display: block;
    overflow: hidden;
    -webkit-box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2);
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2) !important;
}

.form-group {
    padding: 15px 50px !important;
}

.form-group span {
    font-family: raleway;
    margin-bottom: 10px !important;
    display: block;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    color: #505050;
}

.form-group input {
    font-family: raleway;
    background: white !important;
    padding: 20px !important;
}

.form-group select {
    font-family: raleway;
    background: white !important;
    padding: 20px !important;
    color: #a9a4a4 !important;
    font-size: 14px;
}

.form-group select:focus {
    font-family: raleway;
    background: white !important;
    padding: 20px !important;
    color: #6a6a6a !important;
}

.color-change {
    color: #6a6a6a !important;
}

.form-group textarea {
    font-family: raleway;
    background: white !important;
    padding: 20px !important;
}

.form-group p {
    font-size: 11px;
    font-family: raleway;
}

::placeholder {
    font-family: raleway;
    color: #a9a4a4 !important;
    font-size: 14px !important;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #a9a4a4 !important;
    font-size: 14px !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #a9a4a4 !important;
    font-size: 14px !important;
}

.submit-button {
    padding: 15px 40px !important;
    width: 70%!important;
    float: right!important;
}

.hover-color:hover {
    color: #3276b1 !important;
}

.hover-color {
    float: left !important;
}

.hover-colorLine {
    float: left !important;
    margin-left: 1%;
}

.hover-colorLine:hover {
    color: #3276b1 !important;
}

.submit-button input {
    float: right !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0e4f7', endColorstr='#0983e8', GradientType=1); /* IE6-9 fallback on horizontal gradient */
    font-family: raleway;
    padding: 15px 40px !important;
    width: 100%;
    border-radius: 0 !important;
}

.submit-text {
    padding: 20px;
    font-family: raleway;
    font-size: 18px;
}

.rule-regulation {
    font-size: 13px !important;
    padding: 25px 50px !important
}
#fileUpload{
    position: relative;
}
.proposal-timelines{
    width: 5%!important;
}

/*Career Form End */
html {
    overflow-y: scroll;
}

body {
    position: absolute;
}
.about{padding-top: 30px}
@media only screen and (max-width: 767px) {
    .hover-color {
        float: none !important;
    }

    .hover-colorLine {
        float: none !important;
        margin-left:0;
    }
    .submit-button{
        padding: 0;
        width: 100% !important;
    }
    #text-adjust{
        font-size: 2.5em;
    }
    #sub-heading{
        font-size: 1.8em;
    }
    hr {
        width: 30% !important;
    }
    .aboutTo-adjust{
        padding: 10px 10px 30px 10px !important;
    }
    .arrow-new1{
        padding: 0 20px;
    }
    .padding-session-left{
        padding: 20px 0 !important;
    }
    .padding-session-right{
        padding: 20px 0 !important;
    }
    .time-middle-container{
        border:none!important;
    }
    .bottom-spacing{
        margin-bottom: 0;
    }
    .rule-regulation{
        display: block;
        overflow: hidden;
        padding: 0 0 20px 0!important;
        text-align: center;

    }
    .submit-button{
        float: none;
        padding:20px !important;
    }
    .submit-button input{
        float:none !important;
        font-family: raleway;
        padding: 15px 40px !important;
        border-radius: 0 !important;
        width: auto !important;
    }
    .showme-desktop{
        display: none;
    }
    .showme-mobile{
        display: block;
    }

}
@media only screen and (max-width: 480px){
    .verticalLine {
        top: 45px !important;
        font-size: 42px !important;
        right: 55px !important;
        position: absolute !important;
        color: #e3dcdc !important;
    }

    .paper-clip {
        top: 70px;
        right: 25px;
        float: right;
        font-size: 23px;
        position: absolute;
        color: #a79e9e;
    }

    .banner-overlay{
        padding-top: 46%;
    }
    #text-adjust{
        font-size: 2.3em;
    }
    #sub-heading{
        font-size: 1.5em;
    }
    .banner-img-mobile{
        width: 100%;
        display: block;
    }
    .banner-img{
        display: none;
    }
    .wrapper {
        background: #f3f5f8;
         height: auto !important;
    }
    .banner-overlay-heading-container h1{
        text-align: center;
        color: white;
        font-size: 32px;
        font-weight: 500;
    }
    .career-image-overlay-button{
        cursor: pointer;
        background: white;
        padding: 14px 20px;
        color: #082c62;
        display: table;
        font-size: 16px;
        margin: 10px auto;
    }
    .career-image-overlay-heading{
        margin-top: 10%;
    }
    .career-image-overlay-heading-focus{
        margin-top: 5%;
    }
    .content-icon-container{
        width: 25%;
        float: left;
        text-align: center;
    }
    .career-content-container{
        width: 75%;
        float: left;
    }
    /*.submit-button input{
        float: left!important;
        width: 100%;
    }
*/
    .submit-text{
        padding: 0;
    }

    .form-group{
        padding: 15px 5px !important;
    }
    .form-group span{
        margin-bottom:10px!important;
        display: block;
        font-size: 16px;
    }
    .form-group input{
        background: white !important;
        padding: 20px !important;
    }
    .form-group select{
        background: white !important;
        padding: 20px !important;
        color: #ccc!important;
    }
    .form-group select:focus{
        background: white !important;
        padding: 20px !important;
        color: #6a6a6a!important;
    }
    .form-group select:active{
        background: white !important;
        padding: 20px !important;
        color: #6a6a6a!important;
    }
    .form-group textarea{
        background: white !important;
        padding: 20px !important;
    }
    .form-group p{
        font-size: 11px;

    }
    .heading-container h1 {
        text-align: center;
        font-size: 23px;
        line-height: 35px;
    }
    .content-heading-container h4 {
        font-size: 20px;
    }
    .career-image-overlay-heading h3{
        font-size: 23px;
    }
}
@media only screen and (max-width: 992px) and (min-width: 480px){


    .submit-button input{
        float: none!important;
        margin: 0 auto;
    }

    .submit-text{
        padding: 0;
    }
}
@media only screen and (max-width: 992px){

    .focus-container{
        display: none;
    }
    .career-form-container {
        padding: 0px;
        position: relative;
        display: block;
        overflow: hidden;
        -webkit-box-shadow: 10px 10px 30px rgba(0,0,0,0.2);
        -moz-box-shadow: 10px 10px 30px rgba(0,0,0,0.2);
        box-shadow: 10px 10px 30px rgba(0,0,0,0.2);
    }

}